<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Passenger SQL for DBMS</comment>

<entry key ="findAll">
SELECT
       PASS_ID
     , PASS_NAME
     , PASS_NO
     , PASS_COUNTRY
     , FLIGHT
     , PHONE
     , SEAT
  FROM
       TB_PASSENGER
 WHERE
       CANCLED_YN = 'N'
 ORDER
    BY
       PASS_ID DESC
</entry>
<entry key="findByFlight">
SELECT
       PASS_ID
     , PASS_NAME
     , PASS_NO
     , PASS_COUNTRY
     , FLIGHT
     , PHONE
     , SEAT
  FROM
       TB_PASSENGER
 WHERE
       FLIGHT = ?
   AND
       CANCLED_YN = 'N'
 ORDER
    BY
       PASS_ID DESC

</entry>

<entry key="findByKeyword">
SELECT
       PASS_ID
     , PASS_NAME
     , PASS_NO
     , PASS_COUNTRY
     , FLIGHT
     , PHONE
     , SEAT
  FROM
       TB_PASSENGER
 WHERE
       PASS_NAME LIKE '%'||?||'%'
   AND
       CANCLED_YN = 'N'
 ORDER
    BY
       PASS_ID DESC

</entry>

<entry key="save">
INSERT
  INTO
       TB_PASSENGER
       (
       PASS_ID
     , PASS_NAME
     , PASS_NO
     , PASS_COUNTRY
     , FLIGHT
     , PHONE 
     , SEAT
       )
VALUES
       (
       SEQ_PASS.NEXTVAL
     , ?
     , ?
     , ?
     , ?
     , ?
     , ?
       )
</entry>
<entry key="update">
UPDATE
       TB_PASSENGER
   SET
       FLIGHT = ?
     , SEAT = ?
 WHERE
       PASS_NAME = ?

</entry>
<entry key="delete">
UPDATE
       TB_PASSENGER
   SET
       CANCLED_YN = 'Y'
 WHERE
       PASS_ID = ?
   AND
       CANCLED_YN = 'N'
</entry>

</properties>
