<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Ticket SQL for DBMS</comment>
<entry key="insertTicket">
INSERT 
  INTO 
  	   TB_TICKET
  	   (
  	   FLIGHT
  	 , DEPARTURE_DATE
  	 , BOARDING_TIME
  	 , GATE
  	 , DESTINATION
  	   )
VALUES 
	   (
	   ?
	 , ?
	 , ?
	 , ?
	 , ? 
	   )
 </entry>
 
 <entry key="findAll">
SELECT 
  		 FLIGHT
  	   , DEPARTURE_DATE
  	   , BOARDING_TIME
  	   , GATE
  	   , DESTINATION 
    FROM 
    	 TB_TICKET 
   ORDER 
      BY 
      	 DEPARTURE_DATE
 </entry>

      	 
<entry key="">

 </entry>






</properties>
