<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Ticket SQL for DBMS</comment>
<entry key="insertTicket">
INSERT 
  INTO 
  	   TB_TICKET
  	   (
  	   FLIGHT
  	 , DEPARTURE_DATE
  	 , BOARDING_TIME
  	 , GATE
  	 , DESTINATION
  	   )
VALUES 
	   (
	   ?
	 , ?
	 , ?
	 , ?
	 , ? 
	   )
 </entry>
 
 <entry key="findAll">
SELECT 
  		 FLIGHT
  	   , DEPARTURE_DATE
  	   , BOARDING_TIME
  	   , GATE
  	   , DESTINATION 
    FROM 
    	 TB_TICKET
   WHERE
         CANCLED_YN = 'N' 
   ORDER 
      BY 
      	 DEPARTURE_DATE
 </entry>

      	 
<entry key="findByName">
SELECT 
	   FLIGHT
	 , PASS_NAME
	 , SEAT
     , DEPARTURE_DATE
     , BOARDING_TIME
     , GATE
     , DESTINATION
  FROM 
 	   TB_TICKET 
  JOIN 
  	   TB_PASSENGER	USING (FLIGHT)
 WHERE
	   PASS_NAME = ?
   AND
   	   CANCLED_YN = 'N'
 </entry>


 <entry key="timeUpdate">
UPDATE 
	   TB_TICKET 
   SET 
   	   BOARDING_TIME = ? 
 WHERE
   	   FLIGHT = ? 
   AND
   	   BOARDING_TIME = ?
 </entry>
 
 
 <entry key="ticketDelete">
UPDATE 
	   TB_TICKET 
   SET 
   	   CANCLED_YN = 'Y'
 WHERE
   	   FLIGHT = ? 
 </entry>

	   
	   
	   
	   
</properties>
